# Environments
venv/
env/
.env
.venv

# PyInstaller
build/
dist/
*.spec

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Tailwind
tailwindcss.exe

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db
